<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 결과</title>
</head>
<body>
<h2>예약 결과</h2>
<p>예약번호: <span th:text="${reservation.reservationId}"></span></p>
<p>회원명: <span th:text="${reservation.memberName}"></span></p>
<p>강사명: <span th:text="${reservation.instructorName}"></span></p>
<p>강의명: <span th:text="${reservation.lectureTitle}"></span></p>
<p>예약일시(생성일): <span th:text="${reservation.date}"></span></p>
<p>상태: <span th:text="${reservation.status}"></span></p>

<hr>
<p><strong>요청사항:</strong><br>
    <span th:text="${reservation.requestDetail}">-</span>
</p>
<p><strong>강의 일정(예약일):</strong>
    <span th:text="${reservation.scheduleDate}">-</span>
</p>

<!-- 리플레이 목록 페이지로 이동하는 버튼/링크 -->
<a th:href="@{/replay/list}" target="_blank">리플레이 목록 보기</a><br><br>

<a th:href="@{/reservation/new(lectureId=${reservation.lectureId},memberId=${reservation.memberId})}">다시 예약하기</a>

<a th:href="@{/reservation/{id}/cancel(id=${reservation.reservationId})}">예약 취소하기</a> <br>
<th:block th:with="resvId=${reservation.reservationId}">
    <a th:href="@{/payments/form(reservationId=${resvId})}">결제하기</a>
</th:block>

</body>
</html>