<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 신청</title>
</head>
<body>
<h1>수강 신청</h1>
<form th:action="@{/reservation}" th:object="${reservationRequestDto}" method="post">
    <label>학생 ID: <input type="text" th:field="*{MemberId}" /></label><br/>
    <label>강사 ID: <input type="text" th:field="*{instructorId}" /></label><br/>
    <label>강의 ID: <input type="text" th:field="*{lectureId}" /></label><br/>
    <label>요청 상태: <input type="text" th:field="*{status}" value="예약완료" /></label><br/>
    <button type="submit">신청하기</button>
</form>
</body>
</html>
