<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="configFragment">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- OG Tag -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://reboot-9oe0.onrender.com/">
        <meta property="og:title" content="Re:Boot">
        <meta property="og:image" content="/images/ogImage.png">
        <meta property="og:description" content="나만을 위한 맞춤형 강의로 특별한 학습을 시작하세요!">
        <!-- OG Tag -->

        <script src="https://cdn.tailwindcss.com/3.4.16"></script>
        <script>tailwind.config={theme:{extend:{colors:{primary:'#4F46E5',secondary:'#10B981'},borderRadius:{'none':'0px','sm':'4px',DEFAULT:'8px','md':'12px','lg':'16px','xl':'20px','2xl':'24px','3xl':'32px','full':'9999px','button':'8px'}}}}</script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <!-- Favicon -->

        <style>
            :where([class^="ri-"])::before { content: "\f3c2"; }
            body {
                font-family: 'Noto Sans KR', sans-serif;
            }
        </style>
    </th:block>
</head>
</html>